{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/logout">Logout</a>

    {{#if errors}}
    <p>{{errors}}</p>
    {{/if}}

    {{{body}}}
</body>
</html> --}}


<!-- PLASEHOLDER -->
<!-- TO BE REPLASED WITH ACTUAL LAYOUT FROM THE GIVEN TASK -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>Auction House</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li><a href="/browser">Browse</a></li>
                    
                    {{#if user}}
                        <!-- User actions -->
                        <li class="user"><a href="/publish">Publish</a></li>
                        <li class="user"><a href="/auth/logout">Logout</a></li>
                    {{else}}
                        <!-- Guest actions -->
                        <li class="guest"><a href="/auth/register">Register</a></li>
                        <li class="guest"><a href="/auth/login">Login</a></li>
                    {{/if}}
                    <!-- Bonus action
                    <li class="user"><a href="#">Closed Auctions</a></li> -->


                </ul>
            </nav>
        </header>

        <main>

            {{#if errors}}
            <div class="error-box">
                <p>{{errors}}</p>
            </div>
            {{/if}}
        
        {{{body}}}
        

        </main>

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>

