<h1>Edit Page</h1>
<section id="createSub">
    <form action="/room/{{room._id}}/edit" method="post">
    {{#if error}}
        <div><p>{{error.message}}</p></div>
    {{/if}}
    {{#with room}}
        <label><span>Name</span><input type="text" name="name" value="{{name}}"></label>
        <label><span>City</span><input type="text" name="city" value="{{city}}"></label>
        <label><span>Beds</span><input type="number" name="beds" value="{{beds}}"></label>
        <label><span>Price</span><input type="number" name="price" value="{{price}}"></label>
        <label><span>Img URL</span><input type="text" name="imgUrl" value="{{imgUrl}}"></label>
        <label><span>Description</span><textarea name="description">{{description   }}</textarea></label>
        <input type="submit" value="Submit Edited">
    {{/with}}

    </form>

</section>
